{% extends "base.html"%}

{% block title  %}Reservar Sala{% endblock %}

{% block content %}
  <nav class="navbar navbar-expand-md bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Reserva App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/templates/reservas.html">Reservas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/templates/reservas.html">Minhas Reservas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/templates/reservar-sala.html">Reservar Sala</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Gerenciar Salas
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/templates/listar-salas.html">Listar Salas</a></li>
              <li><a class="dropdown-item" href="/templates/cadastrar-sala.html">Cadastrar Sala</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/templates/login.html">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row mt-4">
      <div class="col">
        <h1>Reservar Sala</h1>
        <p>Utilize o formulário abaixo para reservar uma sala</p>
      </div>
    </div>
    <div>
      <div class="col">
        <form action="/templates/reserva/detalhe-reserva.html">
          <div class="mb-3">
            <label for="sala" class="form-label">Sala</label>
            <select class="form-select" id="sala" name="sala">
              <option selected>Selecione a sala</option>
              <option value="1">Sala 1</option>
              <option value="2">Sala 2</option>
              <option value="3">Sala 3</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="inicio" class="form-label">Data e Hora Início</label>
            <input type="datetime-local" class="form-control" name="inicio" id="inicio">
          </div>
          <div class="mb-3">
            <label for="inicio" class="form-label">Data e Hora Fim</label>
            <input type="datetime-local" class="form-control" name="inicio" id="inicio">
          </div>
          <button type="submit" class="btn btn-dark">Reservar</button>
        </form>
      </div>
    </div>
  </div>
  {% endblock %}