{% extends "base.html"%}

{% block title  %}Reservas{% endblock %}

{% block content %}
  <nav class="navbar navbar-expand-md bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Reserva App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/templates/reservas.html">Reservas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/templates/reservas.html">Minhas Reservas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/templates/reservar-sala.html">Reservar Sala</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Gerenciar Salas
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/templates/listar-salas.html">Listar Salas</a></li>
              <li><a class="dropdown-item" href="/templates/cadastrar-sala.html">Cadastrar Sala</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/templates/login.html">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row mt-4">
      <div class="col">
        <h1>Reservas</h1>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <input type="text" class="form-control" placeholder="First name" aria-label="First name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
      </div>
      <div class="col">
        <button class="btn btn-dark" type="submit">Filtrar</button>
      </div>
    </div>
  </div>
  {% endblock %}