{% extends "base.html"%} {% block title %}Reservar Sala{% endblock %} {% block
content %}

<div class="container">
  <div class="row mt-4">
    <div class="col">
      <h1>Reservar Sala</h1>
      <p>Utilize o formulário abaixo para reservar uma sala</p>
    </div>
  </div>
  <div>
    <div class="col">
      <form action="/reservar-sala" method="post">
        <div class="mb-3">
          <label for="sala" class="form-label">Sala</label>
          <select class="form-select" id="sala" name="sala">
            <option selected>Selecione a sala</option>
            {% for i in salas%}
            <option value="{{i.codigo}}">Sala {{i.codigo}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <label for="inicio" class="form-label">Data e Hora Início</label>
          <input
            type="datetime-local"
            class="form-control"
            name="inicio"
            id="inicio"
          />
        </div>
        <div class="mb-3">
          <label for="fim" class="form-label">Data e Hora Fim</label>
          <input
            type="datetime-local"
            class="form-control"
            name="fim"
            id="fim"
          />
        </div>
        <button type="submit" class="btn btn-dark">Reservar</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
